#main-content {
  margin: 0 auto;
  width: 80vw;
  margin-top: 54px;
  padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comic Neue', sans-serif;
}

.decorative-hrule {
  border-color: #88D1D1;
}

.navbar {
  position: fixed;
  width: 100vw;
  color: white;
  background-color: #253939;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  text-align: center;
  padding: 16px 32px;
  font-family: 'Comic Neue', sans-serif;
}

.navbar .navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .navbar-links li {
  padding: 16px;
}

.navbar .navbar-links li a {
  text-decoration: none;
  color: white;
}

.navbar .navbar-links li:has(> a.active) {
  background-color: #88D1D1;
}

.navbar .navbar-links li a.active {
  color: black;
}

.navbar .navbar-links li a:hover {
  text-decoration: underline;
}

.excesive-exlamation-marks-1 {
  color: rgba(255, 255, 255, 0.75);
  font-size: smaller;
}

.excesive-exlamation-marks-2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: small;
}

.excesive-exlamation-marks-3 {
  color: rgba(255, 255, 255, 0.25);
  font-size: x-small;
}

.meme-list {
  margin-top: 32px;
}

.meme-card {
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 16px;
  background-color: #253939;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.card-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.meme-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.meme-subtitle {
  margin-top: 0;
  font-size: small;
  font-weight: 400;
}

.meme-subtitle .meme-author {
  font-style: italic;
}

.meme-img {
  width: 100%;
  height: auto;
}

.meme-card-footer {
  margin-top: 8px;
}

.upvotes-counter {
  font-weight: 600;
}

.voting-buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: space-between;
}

.voting-btn {
  color: white;
  background-color: inherit;
  border: 1px solid #638585;
  border-radius: 8px;
  padding: 16px 32px;
  flex-basis: 0;
  flex-grow: 1;
}

.voting-btn:hover {
  background-color: #638585;
}

.voting-btn.voted {
  background-color: #88D1D1;
  color: black;
}

.has-tooltip {
  text-decoration: underline dotted;
  cursor: help;
}

.fav-meme-icon {
  cursor: pointer;
  font-size: x-large;
}

@media only screen and (min-width: 600px) {
  #main-content {
    width: 60vw;
  }

  .voting-buttons {
    flex-direction: row;
    row-gap: unset;
    column-gap: 8px;
  }
}

@media only screen and (min-width: 992px) {
  #main-content {
    width: 30vw;
  }  
}

.img-404-container {
  text-align: center;
}

.img-404 {
  max-width: 100%;
  height: auto;
}